<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myto_doapp">

    <!-- Permission pour poster des notifications (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My To-Do App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyToDoApp">

        <!-- Activité principale -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ajouter une tâche -->
        <activity
            android:name=".AddTaskActivity"
            android:exported="false" />

        <!-- Modifier une tâche -->
        <activity
            android:name=".EditTaskActivity"
            android:exported="false" />

        <!-- Recherche -->
        <activity
            android:name=".SearchActivity"
            android:exported="false" />

        <activity android:name=".CategoriesActivity" />

        <!-- Paramètres -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
    </application>

</manifest>
